<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BIENVENIDOS DOCENTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="user.usuario" type="email" placeholder="correo@duocuc.cl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="user.password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-button (click)="ingresar()">ENTRAR</ion-button>

    <ion-button href="/home">SALIR</ion-button>
  </ion-list>
</ion-content>
