@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .animated-title {
    animation: slideInLeft 1s ease-in-out; /* Nombre de la animación, duración y temporización */
  }