


<ion-header class="ion-no-border">
  <ion-card-header>
    <div>
       <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text=""></ion-back-button>
    </ion-buttons>
      <img src="assets/img/LOGO.png" style="display: center;"  width="120" height="60" alt="">
      <img src="assets/img/user.png" style="margin-bottom: 15px;"> 
    </div>
  </ion-card-header>
</ion-header>
<div style="text-align: center; margin-top:30px">
  
  <ion-button fill="solid" shape="round" class="animated-title social-btn" (click)="perfilProfe()">Perfil</ion-button>
  <ion-button fill="solid" shape="round" class="animated-title social-btn" (click)="perfilProfe()">Horario</ion-button>
  <ion-button fill="solid" shape="round" class="animated-title social-btn" (click)="perfilProfe()"> Registro Asistencia </ion-button>
  <ion-button fill="solid" shape="round" class="animated-title social-btn" (click)="perfilProfe()">Asignatura</ion-button>
</div>
<ion-content>
  <ion-card-content>


  </ion-card-content>
</ion-content>
