<ion-header [translucent]="true">
</ion-header>
<ion-content style="background-color: #919993;" [fullscreen]="true">
  <ion-card-content>
    <div class="img_cent ion-text-center ion-align-items-center">
      
      <img src="assets/img/LOGO.png"   width="200" height="100" alt="">
      
      
      
    </div>
    <div class="social_btn">
      <ion-button fill="clear" class="animated-title btn"  (click)="lP()">DOCENTE</ion-button> 
      <ion-button fill="clear" class="animated-title btn" (click)="lA()">ESTUDIANTE</ion-button>
      <br>
   



      <img   id="ImagenAnimada" src="assets/img/lista.png" width="150" height="150" alt="">
    </div>
  </ion-card-content>
</ion-content>
