* {
    --background: #ffffff; /* Cambia el color de fondo aquí */
  }

.signin-btn{
    margin-top: 25px;
    text-align: center;
}
.color-btn{
    --background: #1f1d6e!important;
    color:rgb(255, 255, 255);
}