<ion-header>
  <ion-toolbar>
    <ion-title>Perfil del Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>RUT:  </ion-card-subtitle>
      <ion-card-title>Nombre</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Edad</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">ID Carrera</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="primary">Editar Perfil</ion-button>
</ion-content>
