<ion-header>
  <ion-toolbar>
    <ion-title>Perfil del Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>RUT: {{ alumno.Rut }}</ion-card-subtitle>
      <ion-card-title>{{ alumno.Nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Edad</ion-label>
          <ion-input type="number" [value]="alumno.edad" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input type="email" [value]="alumno.correo" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input type="tel" [value]="alumno.telefono" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">ID Carrera</ion-label>
          <ion-input type="text" [value]="alumno.id_carrera" disabled></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="primary">Editar Perfil</ion-button>
</ion-content>
