<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Perfil del Alumno</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button defaulthref="login" text="" style="color: rgb(0, 0, 0);"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="color: black;">
      <ion-card-title style="color: black;">Nombre: {{userInfo?.Nombre}}</ion-card-title>
      <ion-label >Carrera: {{userCarrera?.nombre_carrera}}</ion-label>
    </ion-card-header>

    <ion-card-content>
      <ion-list style="background-color:rgb(255, 255, 255)">
        <ion-item>
          <ion-label position="stacked" style="color: black;">Rut: {{userInfo?.Rut}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" style="color: black;">Edad: {{userInfo?.edad}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" style="color: black;">Correo Electrónico: {{userInfo?.correo}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" style="color: black;">Teléfono: {{userInfo?.telefono}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="signin-btn">
    <ion-button fill="solid" shape="round" class="animated-title color-btn" >Editar</ion-button>
  </div>
</ion-content>
